



























{% comment %} 



{% comment %} {% comment %} {% extends "padre/padre.html" %}

{% block title %}
Padrino
{% endblock title %}

{% block main %}
<a class=navbar-brand href={% url "crear padrino" %}> Crear padrino </a>

{% comment %} <form action =""> {% endcomment %}
{% comment %} {%csrf_token %}
  
        {{candidato}}
   <input type = "submit" value="buscar ">
<form > {% endcomment %}
    {% comment %} {% if listado_padrinos %}
    <ul>
        {% for padrino in listado_padrinos %}
        <li>
        <a href={% url "detail padrino" padrino.id %}>{{padrino}} </a>||<a href={% url "update padrino" padrino.id %}>Editar Padrino </a>|| 
        </li>
        {% endfor %}
    <ul>
    {% else %}
    <p> No se encontraron padrinos|</p>
    {% endif %}
    
    {% endblock main %}
    
    {% block centro %}
    Apadrina una mascota!!!!! <Base></Base>
    {% endblock centro %}
    {% block botoncitos %}
    
    {% endblock botoncitos %} {% endcomment %}
{% comment %} 
 {% endcomment %} 

























{% comment %} {% extends "padre/padre.html" %}


{% block title %}
Detalle Padrino
{% endblock title %}

{% block main %}


<form action ={% url "detalle padrino" padrino.id  %} method="post" >
{%csrf_token %}
    <table>
        {{form}}
    </table>

    <input type = "submit" value="detalle padrino">
 <form >

{% endblock main %}
{% block centro %}
Detalles  <Base></Base>
{% endblock centro %}
{% block botoncitos %} {% endcomment %} 
