{% extends "padre/padre.html" %}

{% block title %}
Padrino
{% endblock title %}

{% block main %}
<a class=navbar-brand href={% url "crear padrino" %}> Crear padrino </a>

<form action ="">
{% comment %} {%csrf_token %}
  
        {{candidato}}
 
    <input type = "submit" value="buscar ">
<form > {% endcomment %}
{% if animales_encontrados%}
<ul>
    {% for padrinos in listado padrinos %}
    <li>
    <a href={% url " detail padrino" padrino.id %}>{{padrino}} </a>||   <a href={% url " update padrino" padrino.id %}>Editar Padrino </a>|| 

    </li>
    {% endfor %}
<ul>
{% else %}
<p> No se encontraron padrinos</p>
{% endif %}

{% endblock main %}
{% block centro %}
Apadrina una mascota!!!!! <Base></Base>
{%endblock centro %}
{% block botoncitos %}

{% endblock botoncitos %}