{% extends "padre/padre.html" %}


{% block title %}
editar Padrino
{% endblock title %}

{% block main %}

<form action ="{% url 'update_padrino' padrino.id  %}" method="post" >
    {%csrf_token %}
        <table>
            {{form|safe}}
            {{form.media}}
        </table>
    
        <input type = "submit" value="editar padrino">
<form >



{% endblock main %}
{% block centro %}
Ediata datos de un  padrino  <Base></Base>
{% endblock centro %}
{% block botoncitos %}

{% endblock botoncitos %}


