{% extends "padre/padre.html" %}

{% block title %}
logout
{% endblock title %}</h1>

</div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-4">
                <div class="text-center text-black">
                    <!-- Page heading-->
                    <h1 class="mb-4">
                        {% block centro %}
                        
                     

                        <Base> "Me llamo Susana Pagliari, tengo 41 años , 2 hijos y varias mascotas como  caballos,
                         burros, perros , gatos , ovejas , patos y gansos. 
                        Esta es la primera vez que hago un curso de algo relacionado con programación , me ha resultado más dificil de lo que pensaba, 
                         pero me gusta mucho, si bien no toco nada de esto en mi trabajo(soy contadora),
                        estoy segura que no va a ser el ultimo curso que haga"
                        </Base>
                        {% endblock centro %}
</h1>
{% block botoncitos %}

{% endblock botoncitos %}




 