{% extends "padre/padre.html" %}

{% block title %}
Resultado busqueda
{% endblock title %}

{% block main %}

{% if candidato.errors%}
<p style="color:red"> Datos incorrectos, favor revisar</p>
{%endif%}

<form action ="">
{%csrf_token %}
    <table>
        {{candidato}}
    </table>
    <input type = "submit" value="buscar animales">
<form >
{% if animales_encontrados%}
<ul>
    {% for animal in animales_encontrados %}
    <li>{{animal.nombre}} </li>
    {% endfor %}
<ul>
{% else %}
<p> No hay ningún animal de ese tipo disponible para adopción </p>
{% endif %}

{% endblock main %}
{% block centro %}
Ingrese que animal quiere buscar para adoptar <Base></Base>
{%endblock centro %}
{% block botoncitos %}

{% endblock botoncitos %}