{% extends "padre/padre.html" %}

{% block title %}
Detalles adoptados
{% endblock title %}</h1>


{% block centro %}

{% comment %} {% if mensaje %}
<p>
{{mensaje}}  
</p>
{% endif %} {% endcomment %}
Detalles adoptados con id {{adoptados.id}} <Base></Base>
{% endblock centro %}
</h1>
{% block main %}

<li> Nombre:{{adoptado.nombre}}</li>
<li> Edad:{{adoptado.edad}}</li>
<li> Foto:{{adoptado.foto}}</li>
<img src="{{adoptado.foto.url}}" alt="ejemplo">


{% endblock main %}

{% block botoncitos %}

{% endblock botoncitos %}