{% extends "padre/padre.html" %}

{% block title %}
Usuarios
{% endblock title %}</h1>


{% block centro %}

{% comment %} {% if mensaje %}
<p>
{{mensaje}}  
</p>
{% endif %} {% endcomment %}
Panel del Usuario {{usuarios.id}} <Base></Base>
{% endblock centro %}
</h1>
{% block main %}

<li> Nombre:{{usuario.username}}</li>
<li> Email:{{usuario.email}}</li>
<li> Imagen:{{usuario.avatar.imagen}}</li>
<img src="{{usuario.avatar.imagen.url}}" >
<li> Link:{{usuario.avatar.link}}</li>
<li> Descripción:{{usuario.avatar.descripcion}}</li> 

{% if request.user.is_authenticated %}  

<button>
||<a class="navbar-brand" href={% url "editar perfil"%}{{request.user.name}}>Editar Perfil</a> ||

||<a class="navbar-brand" href={% url "cambiar password"%}>Cambiar Contraseña</a> ||


<button>
{% endif %}


{% endblock main %}

{% block botoncitos %}

<a class="navbar-brand" href={% url "send_message"%}>Enviar Mensaje </a> 
<a class="navbar-brand" href={% url "listado"%}>Mensajes recibidos</a> 

{% endblock botoncitos %}