{% extends "padre/padre.html" %}


{% block title %}
Editar Perfil
{% endblock title %}

{% block main %}


<h1> Formulario_Editar Perfil</h1>
<h1> De {{usuario}}</h1>
<form action ="" method="post" enctype="multipart/form-data">
{%csrf_token %}
    <table>
        {{form}}
    </table>

    {% comment %} <input type = "submit" value="Enviar"> {% endcomment %}
 <form >

<button> 
    <a class="navbar-brand" h ref={% url "editar perfil"%}>Editar Perfil
</button>

{% endblock main %}
{% block centro %}
Editar Usuario  <Base></Base>
{% endblock centro %}
{% block botoncitos %}

{% endblock botoncitos %}