{% extends "padre/padre.html" %}


{% block title %}
Editar Perfil
{% endblock title %}

{% block main %}


<h1> Formulario_Editar Perfil</h1>
<h1> De {{usuario}}</h1>
<form action ="" method="post">
{%csrf_token %}
    <table>
        {{form}}
    </table>

    <input type = "submit" value="Enviar">
 <form >

<button> type="button"
    <a class="navbar-brand" h ref={% url "cambiar_password"%}>Cambiar Contraseña
</button>

{% endblock main %}
{% block centro %}
Editar Usuario  <Base></Base>
{% endblock centro %}
{% block botoncitos %}

{% endblock botoncitos %}