{% extends "padre/padre.html" %}


{% block title %}
Editar Perfil
{% endblock title %}

{% block main %}


<h1> Formulario_Editar Perfil</h1>
<h1> De {{usuario}}</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ avatar_form.as_p }}
    <button type="submit">Guardar</button>
</form>


{% comment %} <button> 
    <a class="navbar-brand" h ref={% url "editar perfil"%}>
</button> {% endcomment %}

{% endblock main %}
{% block centro %}
Editar Usuario  <Base></Base>
{% endblock centro %}
{% block botoncitos %}

{% endblock botoncitos %}

