{% extends "padre/padre.html" %}


{% block title %}
Adoptados
{% endblock title %}

{% block main %}

{% if candidato.errors%}
<p style="color:red"> Datos incorrectos, favor revisar</p>
{%endif%}

<form action ="" method="post" enctype="multipart/form-data">
{%csrf_token %}
    <table>
        {{candidato.as_table}}
    </table>

    <input type = "submit" value="Crear Mascota">
 <form >

{% endblock main %}
{% block centro %}
Ingrese los datos de la mascota  <Base></Base>
{% endblock centro %}
{% block botoncitos %}

{% endblock botoncitos %}