{% extends "padre/padre.html" %}

{% block title %}
leer
{% endblock title %}</h1>
{% block main %}


{% for a in adoptados %}
<li>{{a.nombre}} </li>
<button>
||<a href ={%url "editar adoptado" a.id %}>Editar mascota </a>||
||<a href ={%url "detalle adoptado" a.id %}>Ver mas </a>||
||<a href ={%url "eliminar adoptado" a.id %}>Eliminar mascota 
</button>
{% endfor %} 

{% endblock main %}
{% block centro %}
Listado animales<Base></Base>
{% endblock centro %}

{% block botoncitos %}

{% endblock botoncitos %}